p {
	font-family: Comic Sans MS;
}

#second {
	color: red;
}

.pg {
	background-color: green;
	margin: 20px;
}


#yo{
	margin: 10px 10px;
	position: fixed;
}

div>p,div>a {
	border: 5px;
	border-style: dotted;
}
 a:hover{
 	color: white;
 }
 p:active{
 	background-color: pink;
 }

 #centr{
 	display: block;
 	margin: 20px auto;
 	animation-name: move;
 	animation-duration: 5s;
 }
 
 *{
 	text-align: center;
 }

@keyframes move {
	0% { margin-left: 2%; } /*3% of the page */
	50% {margin-left: 20%;}
	100%{margin-left: 100%;}

}